<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zane.mapper.RoutingMonitorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zane.dao.RoutingMonitorDo">
        <id column="id" property="id" />
        <result column="waybill_no" property="waybillNo" />
        <result column="order_type" property="orderType" />
        <result column="org_id" property="orgId" />
        <result column="country" property="country" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="trend_sub_no" property="trendSubNo" />
        <result column="start_dc_name" property="startDcName" />
        <result column="start_dc_code" property="startDcCode" />
        <result column="destination_dc_code" property="destinationDcCode" />
        <result column="destination_dc_name" property="destinationDcName"/>
        <result column="start_ds_code" property="startDsCode"/>
        <result column="start_ds_name" property="startDsName"/>
        <result column="act_pick_ds_code" property="actPickDsCode"/>
        <result column="act_pick_ds_name" property="actPickDsName"/>
        <result column="expect_pickup_date" property="expectPickupDate"/>
        <result column="reality_pickup_date" property="realityPickupDate"/>
        <result column="last_dc_departure_time" property="lastDcDepartureTime"/>
        <result column="last_dc_out_bound_time" property="lastDcOutboundTime"/>
        <result column="dispatch_code" property="dispatchCode"/>
        <result column="dispatch_name" property="dispatchName"/>
        <result column="dispatch_inbound_time" property="dispatchInboundTime"/>
        <result column="dispatch_outbound_time" property="dispatchOutboundTime"/>
        <result column="expect_delivered_date" property="expectDeliveredDate"/>
        <result column="reality_delivered_date" property="realityDeliveredDate"/>
        <result column="expect_ds_arrive_time" property="expectDsArriveTime"/>
        <result column="router_class_no" property="routerClassNo"/>
        <result column="first_dc_start_time" property="firstDcStartTime"/>
        <result column="is_over_time" property="isOverTime"/>
        <result column="is_change_router" property="isChangeRouter"/>
        <result column="is_delete" property="isDelete"/>
        <result column="record_version" property="recordVersion"/>
        <result column="pick_up_city" property="pickUpCity"/>
        <result column="order_create_time" property="orderCreateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, waybill_no,order_type,org_id,country,province,city,trend_sub_no,start_dc_name,start_dc_code,
          destination_dc_code,destination_dc_name,start_ds_code,start_ds_name,act_pick_ds_code,
          act_pick_ds_name,expect_pickup_date,reality_pickup_date,last_dc_departure_time,last_dc_outbound_time,
          dispatch_code,dispatch_name,dispatch_inbound_time,dispatch_outbound_time,expect_delivered_date,
          reality_delivered_date,expect_ds_arrive_time,router_class_no,first_dc_start_time,is_over_time,
          is_change_router,is_delete,record_version,pick_up_city,order_create_time
    </sql>

</mapper>